<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300313468325-k1gs3339ljjgdn9s26uq15vpnml49qo6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300313468325-k1gs3339ljjgdn9s26uq15vpnml49qo6</string>
	<key>API_KEY</key>
	<string>AIzaSyAsdyoFJ_bRSyXmXUbKBVPiMLWzLO9CuS0</string>
	<key>GCM_SENDER_ID</key>
	<string>300313468325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Aulway</string>
	<key>PROJECT_ID</key>
	<string>aulway-9670a</string>
	<key>STORAGE_BUCKET</key>
	<string>aulway-9670a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:300313468325:ios:4614bf1655fb23b79e5c4c</string>
</dict>
</plist>
